<article class="thumb">
    <div class="thumb__image">
        <a href="#Challenge/{{challenge.id}}">
            <img ng-src="{{challenge.image}}" alt="thumb">
        </a>
    </div>
    <div class="thumb__title">
        <header>{{challenge.title}}</header>
    </div>
    <div class="thumb__meta">
        <a href="#">
            <img ng-src="{{challenge.avatar}}" alt="avatar">
            <span>{{challenge.username}}</span>
        </a>

        <div class="thumb__cats right">
            <ul class="inline-list">
                <li ng-repeat="tag in challenge.tags">
                    <a href="#">{{tag}}</a>
                </li>
            </ul>
        </div>
    </div>
</article>
