@charset "UTF-8";
/*------------------------------------*\
    MAIN.CSS
\*------------------------------------*/
/**
 *
 * sass --watch main.scss:main.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */
/**
 * Setup
 */
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Zagales theme
 */
/*------------------------------------*\
    $ZAGALES
\*------------------------------------*/
/**
 * Author: Jesús Cuadra
 * twitter: @tallergorilas
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * IMPORTS.............Begin importing the sections below
 *
 * MIXINS..............Custom mixins
 *
 * MAIN................Main styles shared all over the webpage
 * HOMEPAGE............Homepage
 * 
 */
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/**
 * Generic utility styles etc.
 */
/*------------------------------------*\
	$MIXINS
\*------------------------------------*/
/**
 * Base styles; unclassed HTML elements etc.
 */
/*------------------------------------*\
	$MAIN
\*------------------------------------*/
/**
 * Styles used in page templates.
 */
/*------------------------------------*\
	$HOMEPAGE
\*------------------------------------*/
/* 
    Created on : 09-dic-2013, 12:00:12
    Author     : Oscar Gascón <o.gascon at gmail.com>
*/
/*------------------------------------*\
    $CHALLENGE
\*------------------------------------*/
.challenge .challenge__username, .challenge .challenge__title {
  display: inline; }
.challenge .challenge__title--separator {
  font-size: 42px; }
