# IDEs

.idea
*.iml
atlassian-ide-plugin.xml
nbproject
tags
# Otros
.DS_Store
npm-debug.log

# Frontend

frontend/dist
frontend/app/components
frontend/.tmp
frontend/npm-debug.log
frontend/node_modules
.swp
*.sass-cache

# Backend

*.rbc
*.gem
backend/zagales-diy.db
