# IDEs

.idea
*.iml
atlassian-ide-plugin.xml
nbproject

# Frontend

frontend/dist
frontend/app/components
frontend/.tmp
frontend/npm-debug.log
frontend/node_modules
.swp
*.sass-cache

# Backend

*.rbc
