<div class="row">
    <div class="large-12 columns">
        <div class="tabs-nav">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#projects">Retos</a></dd>
                <dd><a href="#howtoplay">Cómo jugar</a></dd>
            </dl>
        </div>
    </div>
</div>
<article class= "challenge">
    <div class="row">
        <div class="large-12 columns">
            <header>
                <h1 class="challenge__title">{{challenge.title}}</h1>
                <span class="challenge__title--separator">|</span>
                <h2 class="challenge__username">username</h2>
            </header>
        </div>
        <div class="medium-9 columns">
            <img src="http://dummyimage.com/800x400/" alt="thumb">
            <section class="challenge__description">
                <p>
                    Integer porta ligula odio. Phasellus accumsan congue risus non rutrum. Nulla quis magna consequat, porta enim id, ultricies elit. Pellentesque et dui ac lectus tristique cursus eu eu augue. Donec nec accumsan massa. Praesent dapibus velit sapien, vel congue augue pellentesque quis. Pellentesque at ligula nibh. Duis fringilla vulputate lacinia. Donec in placerat massa, sit amet mattis ligula. Nunc volutpat felis in iaculis molestie. Etiam non enim at nulla sollicitudin aliquam eu nec urna. Nam sit amet eleifend tellus, et semper magna. Suspendisse malesuada ante vitae pharetra consequat. Proin eget ornare nisl, vel posuere urna. Sed tincidunt mattis imperdiet. Maecenas ultricies ante justo, sit amet fringilla nibh pellentesque a.
                </p>
            </section><!--.challenge__description-->
            <section class="challenge__hacks">
                <header>
                    <h2>Hacks</h2>
                </header>
                <ul class="inline-list">
                    <li>
                        <div class="row">
                            <div class="medium-4 columns">
                                <img src="http://dummyimage.com/480x480/"
                                     class="challenge__hacks__image hide-for-small-only" alt="hack">
                                <img src="http://dummyimage.com/800x400/"
                                     class="challenge__hacks__image show-for-small-only" alt="hack">
                            </div>
                            <div class="medium-8 columns">
                                <div class="row">
                                    <div class="small-9 columns">
                                        <h4 class="challenge__hacks__username">username</h4>
                                        <p class="challenge__hacks__date">12/12/2014</p>
                                    </div>
                                    <div class="small-3 columns">
                                        <img src="http://dummyimage.com/64x64/"
                                             class="challenge__hacks__image right" alt="photo">
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tempor ante. Phasellus laoreet nisi ac nisi interdum, eget accumsan ante consequat. Sed sed tortor quis tortor pulvinar vehicula. Praesent tempus enim sit amet quam ullamcorper cursus. Mauris sed semper massa. Maecenas tempus sem nisi, ut molestie mi mollis sed. Aenean fringilla rhoncus lacus sed auctor. Suspendisse imperdiet nunc leo, ac aliquam metus ultrices quis.
                                </p>
                            </div>
                        </div>
                    </li><!-- challenge_hack # -->
                    <li>
                        <div class="row">
                            <div class="medium-4 columns">
                                <img src="http://dummyimage.com/480x480/"
                                     class="challenge__hacks__image hide-for-small-only" alt="hack">
                                <img src="http://dummyimage.com/800x400/"
                                     class="challenge__hacks__image show-for-small-only" alt="hack">
                            </div>
                            <div class="medium-8 columns">
                                <div class="row">
                                    <div class="small-9 columns">
                                        <h4 class="challenge__hacks__username">username</h4>
                                        <p class="challenge__hacks__date">12/12/2014</p>
                                    </div>
                                    <div class="small-3 columns">
                                        <img src="http://dummyimage.com/64x64/"
                                             class="challenge__hacks__image right" alt="photo">
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tempor ante. Phasellus laoreet nisi ac nisi interdum, eget accumsan ante consequat. Sed sed tortor quis tortor pulvinar vehicula. Praesent tempus enim sit amet quam ullamcorper cursus. Mauris sed semper massa. Maecenas tempus sem nisi, ut molestie mi mollis sed. Aenean fringilla rhoncus lacus sed auctor. Suspendisse imperdiet nunc leo, ac aliquam metus ultrices quis.
                                </p>
                            </div>
                        </div>
                    </li><!-- challenge_hack # -->
                    <li>
                        <div class="row">
                            <div class="medium-4 columns">
                                <img src="http://dummyimage.com/480x480/"
                                     class="challenge__hacks__image hide-for-small-only" alt="hack">
                                <img src="http://dummyimage.com/800x400/"
                                     class="challenge__hacks__image show-for-small-only" alt="hack">
                            </div>
                            <div class="medium-8 columns">
                                <div class="row">
                                    <div class="small-9 columns">
                                        <h4 class="challenge__hacks__username">username</h4>
                                        <p class="challenge__hacks__date">12/12/2014</p>
                                    </div>
                                    <div class="small-3 columns">
                                        <img src="http://dummyimage.com/64x64/"
                                             class="challenge__hacks__image right" alt="photo">
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tempor ante. Phasellus laoreet nisi ac nisi interdum, eget accumsan ante consequat. Sed sed tortor quis tortor pulvinar vehicula. Praesent tempus enim sit amet quam ullamcorper cursus. Mauris sed semper massa. Maecenas tempus sem nisi, ut molestie mi mollis sed. Aenean fringilla rhoncus lacus sed auctor. Suspendisse imperdiet nunc leo, ac aliquam metus ultrices quis.
                                </p>
                            </div>
                        </div>
                    </li><!-- challenge_hack # -->
                </ul>
            </section><!--.challenge__hacks-->
        </div>
        <div class="medium-3 columns">
            <section class="challenge__metadata">
                <header>
                    <h3>Recursos</h3>
                </header>
                <img src="http://dummyimage.com/320x240/" alt="pic">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tempor ante. Phasellus laoreet nisi ac nisi interdum, eget accumsan ante consequat. Sed sed tortor quis tortor pulvinar vehicula. Praesent tempus enim sit amet quam ullamcorper cursus. Mauris sed semper massa. Maecenas tempus sem nisi, ut molestie mi mollis sed. Aenean fringilla rhoncus lacus sed auctor. Suspendisse imperdiet nunc leo, ac aliquam metus ultrices quis.</p>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <li>
                        Sed sed tortor quis tortor pulvinar vehicula.
                    </li>
                </ul>
            </section>

        </div>
    </div>
</article><!--.challenge__detail-->

