<div class="row">
    <div class="large-12 columns">
        <div class="tabs-nav">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#projects">Retos</a></dd>
                <dd><a href="#howtoplay">Cómo jugar</a></dd>
            </dl>
        </div>
        <div class="tabs-content">
            <div class="content active" id="projects">
                <div class="sub-nav-projects">
                    <dl class="sub-nav">
                        <dt>Categorías:</dt>
                        <dd class="active"><a href="#">Todas</a></dd>
                        <dd><a href="#">Arduino</a></dd>
                        <dd><a href="#">Programación</a></dd>
                        <dd><a href="#">Manualidades</a></dd>
                        <dd><a href="#">Ciencia</a></dd>
                    </dl>
                </div>
                <!-- .sub-nav-projects -->
                <div class="thumbs-container">

                    <div class="row">

                        <div class="medium-6 large-4 columns" ng-repeat="challenge in challenges">
                            <zg-challenge-mini ng-model="challenge"></zg-challenge-mini>
                        </div>

                    </div>
                </div>
                <!-- .thumbs-container -->
                <div class="projects-pagination">
                    <p>&nbsp;</p>

                    <div class="pagination-centered">
                        <ul class="pagination">
                            <li class="arrow unavailable"><a href="">&laquo;</a></li>
                            <li class="current"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li class="unavailable"><a href="">&hellip;</a></li>
                            <li><a href="">12</a></li>
                            <li><a href="">13</a></li>
                            <li class="arrow"><a href="">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content" id="howtoplay">
                <p>Cómo jugar</p>
            </div>
        </div>
    </div>
</div>
</div><!-- .content-wrapper -->

<div class="outro">
    <div class="row">
        <div class="large-4 columns">
            <h3>Consejo 1</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, facilis, odio illum assumenda
                molestias eum temporibus. Veniam, inventore aliquid autem eum ullam repellendus aperiam qui ipsum
                distinctio placeat nemo aliquam.</p>
        </div>
        <div class="large-4 columns">
            <h3>Consejo 2</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, facilis, odio illum assumenda
                molestias eum temporibus. Veniam, inventore aliquid autem eum ullam repellendus aperiam qui ipsum
                distinctio placeat nemo aliquam.</p>
        </div>
        <div class="large-4 columns">
            <h3>Consejo 3</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, facilis, odio illum assumenda
                molestias eum temporibus. Veniam, inventore aliquid autem eum ullam repellendus aperiam qui ipsum
                distinctio placeat nemo aliquam.</p>
        </div>
    </div>
</div>